html{
    height: 100%;
}
body{
    background-color: black;
    height: 100vh;
    background-image: url(../imgs/fundocobra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
}
.cobra{
    display: flex;
        justify-content: space-around;
}
.cobra img{
    width: 534px;
}
.capa{
    width: 100%;
    margin: 0%;
    height: 1000px;
}
h1{
    color: white;
    display: flex;
    justify-content: space-around;
}
.video{
     display: flex;
}